.fan-container {
    width: 14vmin;
    height: 14vmin;
    cursor: pointer;
    display: block;
    margin: 0;

    &:hover .boost-text:not(.rotate) {
        fill: #dda3ff; /* Change color on hover when not rotating */
    }

    .boost-text {
        font-size: 0.32rem; /* Use rem for scalability */
        fill: #c268f8;
        transition: fill 0.3s ease; /* Smooth transition for hover effect */

        &.rotate {
            fill: #41c043;
        }
    }
}