.fan-button:hover {
    stroke: lightblue; /* Hover effect */
}

.fan-button {
    cursor: pointer !important;
    all: unset; /* Remove default button styles */
    margin-bottom: 3vmin;
    margin-top: 2vmin;
    width: 8vmin;
    height: 8vmin;
    background: none;
    border: none;
    padding: 0;
    display: block;
}




