.rotate {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.fan-button {
    all: unset; /* Remove default button styles */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px; /* Match the rect width */
    height: 25px; /* Match the rect height */
}

.fan-button-svg {
    width: 100%; /* Ensure SVG scales properly */
    height: 100%;
}

.fan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width of parent */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}



