.fan-button {
    all: unset; /* Remove default button styles */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px; /* Match the rect width */
    height: 25px; /* Match the rect height */
}

.fan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width of parent */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

.boost-text {
    font-family: Arial, sans-serif;
    font-size: 0.31rem; /* Use rem for scalability */
    fill: #c268f8;
}

.boost-text.rotate {
    fill: #41c043;
}




