.vertical-arrow {
    transition: stroke 0.2s ease-in-out;
    stroke: white;
    stroke-width: 3;
}

.vertical-arrow-area:hover .vertical-arrow {
    stroke: lightblue; /* Hover effect */
}

.fan-button {
    cursor: pointer !important;
    all: unset; /* Remove default button styles */
    margin-bottom: 3vmin;
    margin-top: 2vmin;
}



