.vertical-arrow {
    transition: stroke 0.2s ease-in-out;
    stroke: white;
    stroke-width: 3;
}

.vertical-arrow-area:hover .vertical-arrow {
    stroke: lightblue; /* Hover effect */
}

.fan-button {
    cursor: pointer !important;
    width: 5vmin !important;
    height: auto;
    all: unset; /* Remove default button styles */
}


