.vent-mode {
  cursor: pointer;

  svg {
    width: 100%;
    height: auto; // maintains aspect ratio
  }

  text {
    fill: white;
    font-weight: 500;
    font-family: "Sans", sans-serif;
  }

  .vent-mode-path {
    stroke: #1E90FF;
    transition: all 0.3s ease;
    stroke-width: 2;
    fill: transparent;

    &.selected {
      fill: #1E3A61;
      stroke-width: 3;
    }
  }

  .vent-mode-text {
    font-size: 50.8px;
    fill: white;
    font-weight: 500;
    transition: fill 0.3s ease; // Add transition for smooth hover effect
  }

  &:hover{
    .vent-mode-path:not(.selected){
      fill: #c268f8;
    }
  }
}