.header-container {
    display: flex;
    justify-content: space-between; /* Space between the items */
    align-items: center;           /* Vertically centre the content */
    width: 100%;                   /* Full width of the parent */
    padding: 1vmin 4vmin 1vmin 2vmin;
    background-color: #1E3A61;     /* Background colour */
    box-sizing: border-box; /* Ensure padding is respected */
}

.header-caption {
    margin: 0 auto;          /* Centres the caption horizontally  */
    font-weight: bold;
    font-size: 4vmin;
    color: white;
}