@use "Step";
@use "TemperatureValue";

$size-vmin: 70vmin;

.temperature-dial {
  position: relative;
  width: $size-vmin;
  height: $size-vmin;
  background-color: #1E3A61;
  border-radius: 50%;
  border: 2px solid #1E90FF;
  margin: auto;
}




