.icon {
  width: 12vmin;   // 30% of the viewport's smaller dimension
  height: 12vmin;  // maintain a square container
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-path {
  fill: #fff;
  fill-opacity: 1;
  stroke: #fff;
  stroke-width: 0.282726;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.blue-stroke {
  fill: none;
  stroke: #1e90ff;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
}

.white-path-default {
  fill: #fff;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-opacity: 1;
}

.exercise-base {
  stroke: #1e90ff;
}

.stroke-wide {
  stroke-width: 2.45811px;
}

.stroke-narrow {
  stroke-width: 1.91px;
}

.bath-inline {
  display: inline;
  fill: #fff;
  fill-opacity: 1;
  stroke-dasharray: none;
  stroke-width: 6.21906px;
}



